.checklist-item {
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-start;
  justify-content: space-between;

  width: 100%;
  min-width: 150px;
}

.checklist-item-text {
  margin: 0px;
  padding-left: 0px;
  padding-right: 10px;
  text-align: justify;
  line-height: 1.5em;
}

.checklist-item > span {
  font-size: 1rem;
  text-overflow: ellipsis;
  grid-column: 1;
}

.checklist-item > input[type='checkbox'] {
  grid-column: 2;
  justify-self: flex-end;
}

.checklist-items {
  display: flex;
  flex-flow: column nowrap;
  row-gap: 10px;

  padding-left: 20px;
  padding-right: 10px;
}

.checklist-flex {
  width: 100%;
  display: flex;
  flex-flow: column wrap;
}

.checklist-header-flex {
  display: flex;
  flex-flow: row wrap;

  justify-content: space-between;
  align-items: baseline;

  margin-bottom: 15px;
}

.checklist-header {
  font-size: 1.5rem;
}

.checklist-remove-button {
  appearance: none;
  
  border: 2px solid var(--border-gray);
  
  background-color: var(--queen-blue); 
  color: var(--light-gray);
  font-size: 1rem;
  padding: 5px;
}

.checklist-remove-button:hover {
  cursor: pointer;
}

.checklist-remove-button:focus {
  color: white;
}
