.project-view-grid {
  display: grid;
  grid-template-columns: [tasks-start] 3fr [tasks-end checklists-start] 2fr [checklists-end];
  grid-auto-flow: row;
  gap: 30px;
}

.project-view {
  margin: 20px;
}

.project-view:not(:last-child) {
  border-bottom: 1px solid black;
}

.project-view-title {
  grid-column: 1 / 3;
  grid-row: 1;

  font-size: 1.5rem;
  margin-bottom: 15px;
}

.project-view-tasks {
  grid-column: 1;
  grid-row: 2;
}

.flex-list {
  display: flex;
  flex-flow: column wrap;
  gap: 15px;
}

.project-view-header-block {
  display: flex;
  flex-flow: row wrap;

  justify-content: space-between;
}

.project-view-checklists {
  grid-column: 2;
  grid-row: 2;
}

.project-view-tasks > ul,
.project-view-checklists > ul {
  margin: 0px;
}

.border {
  border: 1px solid black;
}
