.task-container {
  display: grid;

  grid-template-columns: repeat(2, min-content) 200px;
  grid-template-areas:
    'title title .'
    'priority tag tag'
    'description description description'
    'progress . .';
}

.task-progress {
  grid-area: progress;

  color: var(--light-gray);
  background-color: var(--queen-blue);

  height: 50px;

  text-align: center;
  text-justify: center;
}

.task-complete {
  color: var(--queen-blue);
  background-color: var(--light-gray);
}

.task-title {
  font-size: 1.5rem;
  grid-area: title;
}

.task-description {
  grid-area: description;
}

.task-priority {
  grid-area: priority;

  justify-self: center;
}

.task-tags {
  padding: 10px 7px;
  grid-area: tag;
}

.task-tag-flex {
  display: flex;
  flex-flow: row wrap;

  gap: 5px;

  align-items: baseline;
}

.task-tag {
  width: 1em;
  padding: 3px 5px;
  background-color: var(--light-gray-shadow);
  color: var(--queen-blue);

  border-radius: 8px;
  border: 1.5px solid var(--border-gray);
}
