:root {
  --red-overdue: #c71212;
  --green-in-time: #3ca445;
}

.task-container {
  display: grid;

  grid-template-columns: repeat(3, 200px);
  grid-template-rows: 3em;
  grid-template-areas:
    'title        title       progress'
    'title        title       progress'
    'due-date     due-date    priority'
    'description  description description'
    'tag          tag         tag';

  margin: 20px;
}


.task-progress {
  grid-area: progress;

  color: var(--light-gray);
  background-color: var(--queen-blue);

  height: 50px;
  text-align: center;
  font-size: 1rem;
}

.task-complete {
  color: var(--queen-blue);
  background-color: var(--light-);
}

.task-due {
  grid-area: due-date;

  display: flex;
  flex-flow: row nowrap;
  column-gap: 10px;
}

.task-due-text {
  color: var(--green-in-time);
  font-weight: bold;
}

.task-title {
  font-size: 1.5rem;
  grid-area: title;
}

.task-description {
  grid-area: description;
  text-align: justify;
}

.task-priority {
  grid-area: priority;
  align-self: center;
  justify-self: flex-end;
}

.task-tags {
  margin: 1rem 0px;
  grid-area: tag;
}

.task-tag-flex {
  display: flex;
  flex-flow: row wrap;
  gap: 10px;
  align-items: baseline;
}

.task-tag {
  padding: 5px;
  background-color: var(--queen-blue);
  color: var(--light-gray);

  border-radius: 8px;
  border: 1.5px solid var(--border-gray);

  font-size: 1.2rem;
}

.task-overdue {
  color: var(--red-overdue);
}
