@font-face {
  font-family: Nuinito Sans Regular;
  src: url(./../assets/fonts/nuinito/Nunito_Sans/NunitoSans-Regular.ttf);
}

:root {
  box-sizing: border-box;
  font-family: Nuinito Sans Regular;
  font-size: 12pt;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

html {
  height: 100vh;
}

#todo-list-app {
  display: grid;
  grid-template-columns: [navbar-start] minmax(min-content, 300px) [navbar-end main-start] 1fr [main-end];
  grid-template-areas: 'navbar main';
}
