.grid-new-task {
  display: grid;

  grid-template-columns: max(20em, 1fr) min-content;
  grid-template-areas:
    'name         priority   '
    'dueDate      priority   '
    'tag          priority   '
    'description  description'
    'description  description'
    '. button';

  gap: 15px;
}

.priorities-legend {
  background-color: var(--queen-blue);
  color: var(--light-gray);
}

.priorities-fieldset {
  border: none;

  display: flex;
  flex-flow: column nowrap;

  justify-content: center;
  gap: 5px;

  width: min-content;
  border: 1.5px solid var(--border-gray);
  border-radius: 8px;
}

.grid-new-task button {
  width: max-content;
}
