.named-input {
  display: flex;
  flex-flow: column nowrap;

  align-items: flex-start;
  gap: 4px;
}

.named-input > span {
  width: 100px;
}

.flex-radios {
  display: flex;
  flex-flow: row nowrap;
}

.named-input > input {
  appearance: none;

  border: 1px solid rgb(158, 158, 158);

  border-radius: 8px;
  padding-left: 5px;
  padding-block: 2px;
  width: 100%;
}
